#about{
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding-block-start: 24px;
}

.section-title{
    font: var(--headline4);
    color: var(--camel);
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}

.about-text p{
    text-align: center;
}

.about-description{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-block-start: 12px;
    padding-block-end: 12px;;
}

.about-description h4{
    margin: 0;
    font: var(--headline5);
    text-transform: uppercase;
    color: var(--camel);
    text-align: center;
}

.about-description p{
    margin: 0;
    text-align: center;
}

@media screen and (min-width: 768px) {
    #about{
        max-width: 1080px;
    }

    .about-text p{
        font: var(--headline4);
    }

    .about {
        display: flex;
        align-items: center;
    }

    .about-description{
        margin-inline-end: 24px;
        margin-inline-start: 24px;
    }

    .about-description h4{
        font: var(--headline4);
    }
    
    .about-description p{
        font: var(--headline5);
    }
}