.button{
    background: var(--camel);
    font: var(--callout);
    color: var(--white);
    padding-inline-start: 41px;
    padding-inline-end: 41px;
    padding-block-start: 9px;
    padding-block-end: 9px;
    border-radius: 35px;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    transition: 500ms;
}

.button.scrolled{
    background: var(--camel);
    transition: 500ms;
}

.button.is-secondary{
    background: var(--camel);
    font: var(--callout);
    color: var(--white);
    padding-inline-start: 41px;
    padding-inline-end: 41px;
    padding-block-start: 9px;
    padding-block-end: 9px;
    border-radius: 35px;
    border: none;
    max-width: 312px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

#menu-button{
    display: inline-block;
    background-color: var(--camel);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 8%;
    right: 24px;
    transition: background-color .3s, 
        opacity .5s, visibility .5s;
    z-index: 1;
}

#menu-button i{
    font-size: 24px;
    color: var(--white);
    line-height: 50px;
}

@media screen and (min-width: 768px) {
    .button{
        font: var(--headline5);
    }

    .menu-button{
        margin: 0 auto;
    }

    .button.is-secondary{
        font: var(--headline5);
    }

    #menu-button{
        visibility: hidden;
    }
}