.modal-carousel-content{
    position: relative;
}

.modal-carousel-previous, .modal-carousel-next{
    position: absolute;
    display: block;
    border: none;
    top: calc(50% - 15px);
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    color: var(--white);
    z-index: 1;
}

.modal-carousel-previous, .modal-carousel-next{
    color: var(--camel);
    top: calc(50% - 8px);
}

.modal-carousel-previous i, .modal-carousel-next i{
    font-size: 30px;
}

.modal-carousel-previous:hover, .modal-carousel-next:hover{
    color: var(--black);
}

.modal-carousel-previous{
    left: 12px;
}

.modal-carousel-next{
    right: 12px;
}

.modal-carousel-list{
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    .modal-carousel-previous{
        left: 40px;
    }
}