.general-menu{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-block-end: 40px;
}

.general-menu section{
    display: flex;
    flex-direction: column;
}

.general-menu-title{
    background: var(--camel);
    align-self: flex-start;
    font: var(--headline4);
    margin: 0;
    margin-block-end: 24px;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
}

.general-menu-subtitle{
    align-self: flex-start;
    font: var(--headline4);
    margin: 0;
    border-left: 5px solid var(--camel);
    margin-block-end: 12px;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
}

.general-menu-item-image{
    text-align: center;
    position: relative;
    overflow: hidden;
}

.general-menu-item-image .callout{
    font: var(--callout);
    background: var(--camel);
    color: var(--white);
    position: absolute;
    align-self: flex-start;
    margin: 0;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    padding-block-start: 4px;
    padding-block-end: 4px;
    top: 0;
    right: 0;
}

.general-menu-item-image .new-banner{
    font: var(--callout);
    background: var(--imperialRed);
    color: var(--white);
    position: absolute;
    align-self: flex-start;
    margin: 0;
    padding-inline-start: 30px;
    padding-inline-end: 30px;
    padding-block-start: 6px;
    padding-block-end: 6px;
    top: 8px;
    left: -30px;
    transform: rotate(-45deg);
}

.general-menu-item{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-block-end: 48px;
    flex: 1 1 100%;
}

.general-menu-item-image img{
    max-inline-size: 100%;
}

.general-menu-item-description h4, .extras-menu-item-description h4{
    margin: 0;
    font: var(--headline5);
}

.extras-menu-item-header {
    display: flex;
    justify-content: space-between ;
}

.extras-menu-item-header span.callout{
    margin: 0;
    min-width: 50px;
    font: var(--callout);
    line-height: 39px;
}

.general-menu-item-description p{
    margin: 0;
    font: var(--callout);
}
.general-menu-list{
    display: flex;
    flex-wrap: wrap;
}

.container-modal{
    width: 100%;
    height: 100%;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: all 600ms;
    z-index: 3;
}

.container-modal:target{
    background: rgba(0, 0, 0, 0.8);
    visibility: visible;
    opacity: 1;    
}

.container-modal:target .modal{
    top: 50%;
    left: 50%;
    transform: rotate(0deg) translate(-50%, -50%);
    visibility: visible;
}

.modal{
    width: 100%;
    height: 100%;
    max-height: 640px;
    max-width: 300px;
    position: relative;
    background: var(--white);
    visibility: hidden;
    top: -80%;
    left: -80%;
    transform: rotate(90deg) translate(-150%,  230%);
    transition: all 600ms;
}

.modal-img{
    max-width: 224px;
    max-height: 224px;
    text-align: center;
    margin: 0 auto;
    padding-block-start: 30px;
}

.modal-img.carousel{
    padding-block-start: 0;
}

.modal-img img{
    max-inline-size: 100%;
}

.modal-description{
    padding-inline-start: 30px;
    padding-inline-end: 30px;
    overflow-y: auto;
    color: var(--black);
}

.modal-description h4{
    margin: 0;
    font: var(--headline5);
}

.modal-description h5{
    font: var(--callout);
    margin: 0;
}

.modal-description p{
    margin: 0;
}

.modal-description .callout{
    font: var(--callout);
    padding-block-start: 8px;
}

.close-button{
    width: 50px;
    height: 50px;
    position: absolute;
    right: -20px;
    top: -20px;
    background: var(--camel);
    color: var(--white);
    border-radius: 50%;
    text-align: center;
}

.close-button i{
    line-height: 50px;
    font-size: 24px;
}

.sauce-list{
    list-style-type: none;
    padding-inline-start: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.sauce-list li{
    flex: 0 1 50%;
    max-inline-size: 100%;
    font: var(--caption);
}

.modal-description.salad .sauce-list li{
    font: 11px/14px var(--fontBase);
}

.extras-menu-item-title{
    font: var(--headline5);
    margin: 0;
}

@media screen and (min-width: 768px) {
    .general-menu-title{
        font: var(--headline3);
    }

    .general-menu-item-description h4, .extras-menu-item-description h4{
        font: var(--body);
    }

    .general-menu-item{
        padding-inline-start: 12px;
        padding-inline-end: 12px;
        flex: 0 1 30%;
    }

    .modal{
        display: flex;
        max-height: 445px;
        max-width: 620px;
    }

    .modal-img{
        flex: 1;
        text-align: center;
        margin: auto auto;
        padding-inline-start: 32px;
        padding-block-end: 30px;
    }

    .modal-img.carousel{
        padding-inline-start: 0;
    }

    .modal-description{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .modal-description.salad h4{
        font: bold 20px/39px var(--fontBase);
    }

    .modal-description.salad .sauce-list li{
        font: var(--caption);
    }

    .extras-menu-item-header span {
        float: left;
        width: 20%;
        text-align: center;
        display: block;
    }

    .extras-menu-item-header span.callout{
        width: 20%;
    }
    
    .extras-menu-item-header span:first-child {
        width: 40%;
        text-align: left;
    }
    
    .extras-menu-item-header .dots {
        width: 40%;
        border-bottom: 2px dotted #ccc;
        margin-bottom: 1em;
    }
    
    .clear, .clear::after{
        content: '';
        clear: both;
        display: block;
    }

    .extras-menu-list{
        padding-inline-start: 12px;
    }
}

@media screen and (min-width: 1024px) {
    .general-menu-item{
        padding-inline-start: 24px;
        padding-inline-end: 24px;
        flex: 0 1 20%;
    }

    .modal{
        display: flex;
        max-height: 500px;
        max-width: 900px;
    }

    .modal-img{
        flex: 1;
        max-width: 374px;
        max-height: 374px;
        text-align: center;
        margin: auto auto;
    }

    .modal-description{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-inline-end: 40px;
        gap: 12px;
    }

    .modal-description.salad{
        gap: 0px;
    }

    .modal-description.salad h4{
        font: var(--headline5);
    }

    .sauce-list li{
        font: var(--body);
    }

    .extras-menu-list{
        padding-inline-start: 24px;
    }
}

@media screen and (max-height: 824px) {
    .modal-description p {
        font: var(--caption);
    }

    .modal{
        max-height: 540px;
    }

    .modal-description.salad h5{
        font: bold 12px/16px var(--fontBase);
    }

    .modal-description.salad h4{
        font: var(--callout);
    }
}

@media screen and (max-height: 570px) {
    .modal-img{
        padding-block-start: 12px;
    }

    .modal{
        max-height: 510px;
    }
}