.header{
    position: sticky;
    top: 0;
    z-index: 2;
    transition: 500ms;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    block-size: 80px;
}

.header.scrolled{
    background-color: var(--black);
    transition: 500ms;
}

.clipPath{
    clip-path: polygon(35% 0, 100% 0%, 100% 100%, 57% 100%);
    background-color: var(--camel);
    top: 0px;
    right: 0px;
    width: 75%;
    height: 50vh;
    position: absolute;
    z-index: -999;
}

.clipPath.fixed{
    position: fixed;
    height: 100vh;
}

@media screen and (min-width: 768px) {
    .clipPath{
        height: 100vh;
    }
}