#home-menu{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-block-end: 40px;
}

.home-menu-image{
    text-align: center;
}

.home-menu-image img{
    max-inline-size: 100%;
} 

.home-menu-description{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-block-end: 48px;;
}

.home-menu-description h4{
    margin: 0;
    font: var(--headline5);
    text-align: center;
}

.home-menu-description p{
    margin: 0;
}

.separator-image img{
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 768px){
    #home-menu{
        padding-block-end: 140px;
    }

    .home-menu{
        display: flex;
        padding-block-start: 24px;
        padding-block-end: 24px;
    }

    .home-menu-image{
        flex: 1;
    }

    .home-menu-description{
        flex: 1;
        margin-inline-start: 24px;
        justify-content: center;
    }

    .home-menu-description h4{
        font: var(--headline4);
        text-align: start;
    }
}

@media screen and (min-width: 1024px){
    .home-menu-list{
        display: flex;
    }

    .home-menu{
        display: flex;
        flex-direction: column;
        padding-inline-start: 24px;
        padding-inline-end: 24px;
    }

    .home-menu-description{
        margin: 0;
    }

    .home-menu-description h4{
        text-align: center;
    }
}