#social{
    margin-block-end: 40px;
    text-align: center;
}

#social h4{
    font: var(--headline4);
    margin: 0;
    padding-block-end: 32px;
}

.social{
    margin-inline-start: 75px;
    margin-inline-end: 75px;
    display: flex;
    justify-content: space-between;
}

.social i{
    color: var(--camel);
    font-size: 40px;
}

@media screen and (min-width: 768px) {
    #social{
        margin: 0 auto;
        max-width: 600px;
    }
    .social i{
        font-size: 60px;
    }
}